body,
html {
  height: 100%;
  width: 100%;
}

.dev {
  display: none;
}

.homeimg {
  width: 100vw;
  height: 99.5vh;
}

.desc {
  position: absolute;
  left: 5vh;
  top: 40vh;
  z-index: 1;
  width: 40vw;
  color: #f2bb4e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.desc h1,
.desc h2,
.desc h3 {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.desc h1 {
  font-size: 3rem;
}

.desc h2 {
  font-size: 2rem;
}

.desc h3 {
  font-size: 1.8rem;
}

.prog {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 40vw;
  top: 50vh;
  left: 5vw;
  border-style: solid;
  border-width: 1px;
  z-index: 5;
  padding: 3vh;
}

@media (max-width: 1600px) {
  .desc h1 {
    font-size: 2rem;
  }

  .desc h2 {
    font-size: 1.5rem;
  }

  .desc h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .homeimg,
  .desc {
    display: none;
  }

  .dev {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30vh 5vh;
    color: #f2bb4e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
}
