body,
html {
  height: 100%;
  width: 100%;
}

.descdev {
  display: none;
}

.homeimg {
  width: 100vw;
  height: 99.5vh;
}

.desc {
  position: absolute;
  left: 5vh;
  top: 40vh;
  z-index: 1;
  width: 40vw;
  color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.desc h1,
.desc h2,
.desc h3 {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.desc h1 {
  font-size: 2.5rem;
}

.desc h2 {
  font-size: 1.5rem;
}

.desc h3 {
  font-size: 1.3rem;
}

.prog {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 1vh;
  left: 10vh;
  border-style: solid;
  border-width: 1px;
  z-index: 5;
  padding: 2.5vh;
}

.prog img {
  max-height: 92vh;
}

@media (max-width: 1600px) {
  .desc h1 {
    font-size: 2rem;
  }

  .desc h2 {
    font-size: 1.3rem;
  }

  .desc h3 {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .dev {
    display: none;
  }

  .descdev {
    display: block;
  }

  .desc {
    left: 2.5vh;
    -webkit-text-stroke-width: 0px;
  }

  .desc h1 {
    font-size: 1.2rem;
  }

  .desc h2 {
    font-size: 1rem;
  }

  .desc h3 {
    font-size: 0.8rem;
  }

  .prog {
    display: none;
  }
}
