.perfcontainer a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.perfcontainer {
  padding: 5vh;
}

.performances {
  margin-top: 5vh;
  background-color: whitesmoke;
  width: 50vw;
  padding: 2.5vh;
  border-style: solid;
  border-width: 1px;
}

.performance h2:hover {
  color: teal;
}

.performance a {
  display: flex;
  flex-direction: row;
  margin: 1vh;
}

.performance .icon {
  margin: 0.5vh 3vh;
}
